.active-item-count {
  margin-top: 13px;
  font-size: 17px;
  color: #231f1c;
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .active-item-count {
    margin-top: 6px;
    font-size: 12px;
  }
}
