.each-list-item {
  background: linear-gradient(to right,#94618E, #49274A );
  color: #F8EEE7;
  padding: 17px;
  font-size: 22px;
  text-align: left;
  font-weight: normal;
  margin-bottom: 2px;
  border-radius: 2px;
  transform-style: preserve-3d;
}

.each-list-item .circle-tick {
  margin-right: 10px;
}

.each-item-cross {
  float: right;
}

.each-item {
  display: inline-block;
  margin-left: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.each-item-cross {
  transform: scale(0.8);
  opacity: 0;
  transition: all 300ms ease-in;
}
.each-list-item:hover .each-item-cross {
  opacity: 1;
  transform: scale(1);
}
.each-list-item-animate-enter {
  animation: flip-in 400ms ease;
}

@media only screen and (max-width: 500px) {
  .each-list-item {
    padding: 9px;
    font-size: 15px;
  }
  .each-list-item .circle-tick {
    margin-right: 0;
  }
  .each-item-cross {
    opacity: 1;
  }
}
